@model MailManager.Models.T_Base_Class
@{
    Layout = null;
}

<h2 class="contentTitle">信息录入</h2>


<div class="pageContent">
	
	<form method="post" action="/info/saveedit" class="pageForm required-validate" onsubmit="return validateCallback(this)">
		<div class="pageFormContent nowrap" layoutH="97">
            <input type="hidden" name="Type" value="@Model.Type" />
            <input type="hidden" name="ID" value="@Model.ID" />
            <dl>
				<dt>@if(Model.Type == 1){
                        @:班级名：
                    }else {
                        @:姓名：
                    }
				</dt>
				<dd>
					<input type="text" name="Name" maxlength="20" class="required" value="@Model.Name"/>
					<span class="info"></span>
				</dd>
			</dl>

            <dl @if(Model.Type == 2){
                 @:style="display:none"   
                }>
				<dt>联系人姓名：</dt>
				<dd>
					<input type="text" name="NickName" maxlength="20" class="required" value="@Model.NickName"/>
					<span class="info"></span>
				</dd>
			</dl>

            <dl>
				<dt>电话：</dt>
				<dd>
					<input type="text" name="Phone" class="phone required" value="@Model.Phone"/>
					<span class="info">有信件到达时，将短信通知</span>
				</dd>
			</dl>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>


