@model List<MailManager.Models.T_Base_Class>
@{
    Layout = null;
}

<form id="pagerForm" method="post" action="/info/student">
	<input type="hidden" name="pageNum" value="@ViewBag.pageNum" />
	<input type="hidden" name="numPerPage" value="@ViewBag.numPerPage" />
	<input type="hidden" name="orderField" value="@ViewBag.orderField" />
	<input type="hidden" name="orderDirection" value="@ViewBag.orderDirection" />
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/info/student" method="post">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>班级名：</label>
				<input type="text" name="keywords" value="@ViewBag.keywords"/>
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/info/Create" target="navTab" rel="infoCreate"><span>添加师生信息</span></a></li>
		</ul>
	</div>
	<table class="table" width="1200" layoutH="138">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="140" orderField="Name" @if (ViewBag.orderField == "Name"){ @: class="@ViewBag.orderDirection"
                }>班级</th>
				<th width="140" orderField="NickName" @if (ViewBag.orderField == "NickName")
                                      { @: class="@ViewBag.orderDirection"
                }>姓名</th>
				<th width="120">手机号</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
            @foreach(var item in Model)
            {
			<tr target="sid_user" rel="1">
				<td><input name="ids" value="@item.ID" type="checkbox"></td>
				<td>@item.Name</td>
				<td>@item.NickName</td>
				<td>@item.Phone</td>
				<td>
					<a title="编辑" target="dialog" href="/info/edit?id=@item.ID" class="btnEdit">编辑</a>
				</td>
			</tr>
            }
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="5" 
                @if (ViewBag.numPerPage == 5){@:selected =true
                }
                >5</option>
				<option value="10"
                    @if(ViewBag.numPerPage == 10){ @:selected =true
                    }
                    >10</option>
				<option value="20" @if(ViewBag.numPerPage == 20){ @:selected =true
                    }
                    >20</option>
				<option value="50" @if(ViewBag.numPerPage == 50){ @:selected =true
                    }
                    >50</option>
			</select>
			<span>条，共 @ViewBag.totalCount 条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="@ViewBag.totalCount" numPerPage="@ViewBag.numPerPage" pageNumShown="5" currentPage="@ViewBag.pageNum"></div>

	</div>
</div>
